<style>
  .wrapper{
    width:100%;
  }
  .wrapper>.picture{
    width:50%;
    float:left;
  }
  .wrapper>.picture>img{
    width:100%;
  }
</style>
<!-- Page Header -->
<header class="masthead">
      <img src="<%=asset_path('header_bus.jpg')%>" width="100%">
</header>
<div class="wrapper">
  <div class="picture"><img src="<%=asset_path('finalbus_1.jpg')%>"></div>
  <div class="picture"><img src="<%=asset_path('finalbus_2.jpg')%>"></div>
</div>




<!--<body style="background-color: #110a0a;">
  <div class="container">
    <div class="row">
        <div class ="bustime_1" style="height:1000px; float:left; margin-left:10%">
          <img src="<%=asset_path('finalbus_1.jpg')%>" width="80%">
          <img src="<%=asset_path('finalbus_2.jpg')%>" width ="80%">
        </div>
    </div>
  </div>
</body>-->

