<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="assets/stylesheets/owl.carousel.min.css">-->
    <!--<script type="text/javascript" src="assets/javascripts/jquery.min.js"></script> 
    <script type="text/javascript" src="assets/javascripts/owl.carousel.min.js"></script> 
    
 
 
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/sidebar.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/sidebar.js"></script>-->
 
    

    <style>
        img.dayday{
          display: block;
          width: 70%;
          margin: 0 auto;
        }
      
        img.night{
          display: block;
          margin-right:10%;
          width: 10%;
          margin-left:70%;
          float:right;
        }
        
        .col-md-12 img.itemDY{
          display: block;
          margin-right:3.3%;
          width: 20%;
          float:right;
        }
      
      .col-md-6 img.itemDY{
        display: block;
        margin-right:3.3%;
        width: 45%;
        float:right;
      }
      .head{
        margin:1.4em;
      }
      .head>h3{
        text-align:center;
      }
	     .owl-carousel .owl-item img.ddd{
	       display: block;
	       margin-right:3.3%;
         width: 45%;
         Height: 100%;
         float:right;
	     }
       .card-text{
         text-align:center;
       }
        .card{
          border:double;
          border-width:10px;
          border-color:green;
          height: 20em;
          margin-right:0.8em;
          margin-bottom: 2em;
          float: left;
        }
        .dayday1{
          width: 95%;
          margin: 2em auto;
        }
    </style>
  </head>
  <body>
    <header class="masthead" style="height:280px; background-color: #110a0a;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" style='text-shadow: 1px 1px 5px #000;'>
              <img src="<%=asset_path('header_event.jpg')%>">
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="head">
      <h3 style="font-size:2em; font-family: 'Gamja Flower', cursive;">낮밤 아이콘을 클릭해보세요! 다시 누르면 원상복귀됩니다!</h3>
    </div>
    
    <div class="section">
      <div class="intro">
        <div class="row">
          <div id="sun" class="col-md-6">
            <img class="dayday" src="/noontest.png" />
            <div class="dayday1">
              
              <%for i in 0..3 %>
                <div class="card">
                   <img style="width:250px;, height:250px; margin-left:10px; margin-top:10px;" class="card-img-top" src="/<%=@noon[i]%>.png" alt="Card image cap">
                     <div class="card-body">
                       <button  style= "text-align:center; margin-left:30px; margin-bottom:10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=@noon[i]%>"> Time And Map</button>
                    </div>
                  </div>
                <%end%>
                <!-- Modal -->
                <%for i in 0..3 %>
                <div class="modal fade" id="exampleModal<%=@noon[i]%>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog"  style ="width:800px;, height:800px;" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><h2><%=@nooname[i]%></h2></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                         <img class="card-img-top" src="/a<%=@noon[i]%>.png"  alt="Card image cap">
                         <h2></h2>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%end%>
            </div>
            <div class="dayday2" style="display:none">
             <%for i in 0..1 %>
                <div class="card">
                   <img style="width:250px;, height:250px; margin-left:10px; margin-top:10px;" class="card-img-top" src="/<%=@noon1[i]%>.png" alt="Card image cap">
                     <div class="card-body">
                       <button  style= "text-align:center; margin-left:30px; margin-bottom:10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=@noon1[i]%>"> Time And Map</button>
                    </div>
                  </div>
                <%end%>
                <!-- Modal -->
                <%for i in 0..1 %>
                <div class="modal fade" id="exampleModal<%=@noon1[i]%>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog"  style ="width:800px;, height:800px;" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><h2><%=@noon1name[i]%></h2></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                         <img class="card-img-top" src="/<%=@noon1a[i]%>.png"  alt="Card image cap">
                         <h2></h2>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%end%>
            </div>
          </div>
          <div id="moon" class="col-md-6" style="background-color:black">
            <img class="night" src="/night.png" />
            <div class="night1">
           <%for i in 0..3 %>
                <div class="card">
                   <img style="width:250px;, height:250px; margin-left:10px; margin-top:10px;" class="card-img-top" src="/<%=@night[i]%>.png" alt="Card image cap">
                     <div class="card-body">
                       <button  style= "text-align:center; margin-left:30px; margin-bottom:10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=@night[i]%>"> Time And Map</button>
                    </div>
                  </div>
                <%end%>
                <!-- Modal -->
                <%for i in 0..3 %>
                <div class="modal fade" id="exampleModal<%=@night[i]%>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog"  style ="width:800px;, height:800px;" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><h2><%=@nightname[i]%></h2></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                         <img class="card-img-top" src="/<%=@nighta[i]%>.png"  alt="Card image cap">
                         <h2></h2>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%end%>
            </div>
            <div class="night2"  style="display:none;">
           <%for i in 0..3 %>
                <div class="card">
                   <img style="width:250px;, height:250px; margin-left:10px; margin-top:10px;" class="card-img-top" src="/<%=@night1[i]%>.png" alt="Card image cap">
                     <div class="card-body">
                       <button  style= "text-align:center; margin-left:30px; margin-bottom:10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%=@night1[i]%>"> Time And Map</button>
                    </div>
                  </div>
                <%end%>
                <!-- Modal -->
                <%for i in 0..3 %>
                <div class="modal fade" id="exampleModal<%=@night1[i]%>"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog"  style ="width:800px;, height:800px;" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><h2><%=@night1name[i]%></h2></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                         <img class="card-img-top" src="/<%=@night1a[i]%>.png"  alt="Card image cap">
                         <h2></h2>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(".dayday").click(function(){
      $('#sun').toggleClass('col-md-6');
      $('#sun').toggleClass('col-md-12');
      if($(".dayday2").css("display") == "none"){   
        $('.dayday2').show();
        $('#moon').hide();
    } else {  
        $('.dayday2').hide();
        $('#moon').show();
    }
    });
    
    $(".night").click(function(){
      $('#moon').toggleClass('col-md-6');
      $('#moon').toggleClass('col-md-12');
      if($(".night2").css("display") == "none"){   
        $('.night2').show();
        $('#sun').hide();
    } else {  
        $('.night2').hide();
        $('#sun').show();
    }
    });
    </script>
</html>