<html>
  <head>
    <!--<link rel="stylesheet" type="text/css" href="assets/stylesheets/owl.carousel.min.css">-->
    <!--<script type="text/javascript" src="assets/javascripts/jquery.min.js"></script> 
    <script type="text/javascript" src="assets/javascripts/owl.carousel.min.js"></script> 
    
 
 
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/sidebar.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/sidebar.js"></script>-->
 
    

    <style>
    
      @media screen and (min-width: 768px) {
        img.dayday{
          display: block;
          margin-left:10%;
          width: 15%;
          margin-right:70%;
          float:left;
        }
      
        img.night{
          display: block;
          margin-right:10%;
          width: 15%;
          margin-left:70%;
          float:right;
        }
        
        .col-md-12 img.itemDY{
          display: block;
          margin-right:3.3%;
          width: 20%;
          float:right;
        }
      }
      
      @media screen and (max-width: 767px) {
        img.dayday{
          display: block;
          margin-left:45%;
          width:18%;
          margin-right:40%;
          float:left;
        }
      
        img.night{
          display: block;
          margin-right:45%;
          width: 18%;
          margin-left:40%;
          float:right;
        }
      }
      
      .col-md-6 img.itemDY{
        display: block;
        margin-right:3.3%;
        width: 45%;
        float:right;
      }

    
      .head{
        margin-top:3%;
        margin-bottom:3%;
      }
    
      .head>h1{
        text-align:center;
      }
      .owl-carousel .owl-item img.bbb{
	       margin-right:3.3%;
         width: 45%;
         Height: 100%;
         float:right;
	     }

	     .owl-carousel .owl-item img.ddd{
	       display: block;
	       margin-right:3.3%;
         width: 45%;
         Height: 100%;
         float:right;
	     }
	      .card{
          float:left;
          margin-left:200px
          margin-bottom:50px;
       }
       .card-text{
         text-align:center;
       }
        .card{
          border:double;
          border-width:10px;
          border-color:green;
          margin-left:30px;
          margin-top:10px;
        }
	     
	     
	      
    </style>
  </head>
  <body>
    <header class="masthead" style="height:100%; background-image: url(<%=asset_path('header_event')%>)">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" style='    text-shadow: 1px 1px 5px #000;'>
              <img src="<%=asset_path('event.png')%>" width="200px">
              <span class="subheading">낮밤없이 이뤄지는 행사들을 확인해보세요!</span>
            </div>
          </div>
        </div>
      </div>
    </header>
     <p style="text-align:center;">낮, 밤 아이콘을 클릭하면 열리고 다시클릭하면 닫혀요!</p>
    <div class="owl-carousel">
      <div class="day"> <!--한페이지에 보이기 -->
        <div class="section day1lineup">
          <div class="day1pick">
            <div>
              <img class="ddd" src="<%=asset_path('yoon.jpg')%>" />
            </div>
            <div>
              <img class="ddd" src="<%=asset_path('suji.png')%>" />
            </div>
          </div>
        </div>
      </div>
    
    
    
      
    
   
   <div class="section">
      <div class="intro">
        <div class="row">
          <div id="sun" class="col-md-6">
            <img class="dayday" src="/noon.png" />
            <div class="dayday1">
              
              <% @name.each do |t|%>
                  <% @noon.each do |k| %>
                     <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="/<%=k%>.png" alt="Card image cap">
                     <div class="card-body">
                        <p class="card-text"> <input class="btn btn-primary" type="button" value =<%=t%> onclick="window.open('/popup/<%=k%>','a', 'width=800, height=420, left=300, top=150')"><br>
                    </div>
                  </div>
                <%end%> 
               <%end%> 
            </div>
            <div class="dayday2" style="display:none">
            </div>
            </div>
           
          
          <div id="moon" class="col-md-6">
            <img class="night" src="/night.png" />
            <div class="night1">
              <% @name.each do |t|%>
                  <% @night.each do |k| %>
                     <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="/<%=k%>.png" alt="Card image cap">
                     <div class="card-body">
                        <p class="card-text"> <input class="btn btn-primary" type="button" value =<%=t%> onclick="window.open('/popup/<%=k%>','a', 'width=800, height=420, left=300, top=150')"><br>
                    </div>
                  </div>
                <%end%> 
               <%end%> 
            </div>
            
            <div class="night2"  style="display:none">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(".dayday").click(function(){
      $('#sun').toggleClass('col-md-6');
      $('#sun').toggleClass('col-md-12');
      if($(".dayday2").css("display") == "none"){   
        $('.dayday2').show();
        $('#moon').hide();
    } else {  
        $('.dayday2').hide();
        $('#moon').show();
    }
    });
    
    $(".night").click(function(){
      $('#moon').toggleClass('col-md-6');
      $('#moon').toggleClass('col-md-12');
      if($(".night2").css("display") == "none"){   
        $('.night2').show();
        $('#sun').hide();
    } else {  
        $('.night2').hide();
        $('#sun').show();
    }
    });
    </script>
</html>




