<style>
	html, body {
	    overflow:hidden;
	    margin:0;
	    padding:0;
	
	    /*Avoid flicker on slides transitions for mobile phones #336 */
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	}
  
	.main_master{
	background-image: url(<%=asset_path('main2.gif')%>) !important;
	background-size:0%;
	text-shadow:1px 1px 10px rgba(0, 0, 0, 0.7);
	}
  
	.main_events>div{
		background: no-repeat center center;
		background-color: #777777;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	
	}
  
	.pp-easing {
	    -webkit-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	    -moz-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	    -o-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	    transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	    /* custom */
	}
	
	.intro{
		color:white;
		text-align:center;
		font-size: 1.5em;
		text-shadow:1px 1px 3px rgba(0,0,0,0.5);
	}
	.intro h1{
		font-size:2em;
	}
	.ani_wrap>div{
		min-width: 145px;
		text-align: left;
	}

	@media  screen and (max-width: 500px) {
		.intro h1{
			font-size:1.5em;
		}
	}
</style>

<!-- Page Header -->
<script>
  $(function(){
    $('.ani1').hide();
    $('.ani2').hide();
    $('.ani3').hide();
	setTimeout(function(){$('.ani1').show();$('.ani1').addClass('animated bounceInDown');},200);
	setTimeout(function(){$('.ani2').show();$('.ani2').addClass('animated bounceInDown');},600);
	setTimeout(function(){$('.ani3').show();$('.ani3').addClass('animated bounceInDown');},1000);
	
	$('footer').hide();
	
	$('.main_events').pagepiling({
	    navigation: {
	    	'position': 'right'
	   	}
	});
  })
</script>

<div class="main_events">
	<div class="section main_master">
		<img src="<%=asset_path('Menu_logo.png')%>" width="50%">
	</div>
	<div class="section man_contest" style="background-image:url(<%=asset_path('lady_contest.jpg')%>)">
		<div class="intro">
			<img src="<%=asset_path('Day1.png')%>" width="50%">
		</div>
	</div>
	<div class="section scare" style="background-image:url(<%=asset_path('Day2_background.jpg')%>)">
		<div class="intro">
			<img src="<%=asset_path('Day2.png')%>" width="50%">
		</div>
	</div>
	<div class="section singer_contest" style="background-image:url(<%=asset_path('Day3_background.jpg')%>)">
		<div class="intro">
			<img src="<%=asset_path('Day3.png')%>" width="50%">
		</div>
	</div>
</div>
