<style>
  .wrapper{
    width:100%;
    padding:1em 0em;
    background: no-repeat center center;
		background-color: #777777;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
  }
  .wrapper>.item{
    margin:2em 0em;
  }
  .wrapper>.item>.head>h2{
        text-align:center;
        font-family: 'Gamja Flower', cursive;
        font-size: 2em;
        color:white;
      }
	.day{
	  margin-left:10%;
	  width:80%;
	  Height:100%;
	}
  @media  screen and (max-width: 500px) {
    header.masthead{
      padding-top:2em;
      background-color:#110909;
    }
    header.masthead img{
      height:5em;
    }
    .wrapper>.item>.head>h2{
      font-size:1.5em;
    }
  }
</style>
<script>
 $('.carousel').carousel('pause');
</script>

    <header class="masthead">
          <img src="<%=asset_path('header_lineup.jpg')%>" width="100%">
    </header>

    <div class="wrapper" style="background-image:url(<%=asset_path('nightsky.jpg')%>)">
      <div class="item">
        <div class="head"><h2>17일(수)</h2></div> 
        <img class="day" src="<%=asset_path('first.png')%>">
      </div>
      
      <div class="item">
        <div class="head"><h2>18일(목)</h2></div>
        <img class="day" src="<%=asset_path('second.png')%>">
      </div>
      
      <div class="item">
        <div class="head"><h2>19일(금)</h2></div>
        <img class="day" src="<%=asset_path('third.png')%>">
      </div>
    </div>
    
    
    