<!DOCTYPE html>
<html>
<head>
  <!--글씨체-->
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet"> 
  <!--//-->
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, minimum-scale=1, maximum-scale=2.5">
	<title>GNU festival</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
  <!— Global site tag (gtag.js) - Google Analytics —>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108031331-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-108031331-1');
  </script>
  <style>
    @media  screen and (max-width: 500px) {
      .navbar-brand img{
        width:120px;
      }
		  .nav-link img{
		    width:40px;
		  }
		}
  </style>
</head>
<body>
	<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container" style="padding-right:0px; padding-left:0px">
      <a class="navbar-brand" href="/"><img src="<%=asset_path('logo.png')%>" width="140px"></a>
    	<ul class="top_menu ac">
    		<li><a class="nav-link <%=((controller.action_name=='index') ? 'active' : '')%>" href="/"><img src="<%=asset_path('Menu_home.png')%>" width="50px"></a></li>
    		<li><a class="nav-link <%=((controller.action_name=='event') ? 'active' : '')%>" href="/event"><img src="<%=asset_path('Menu_event.png')%>" width="50px"></a></li>
<<<<<<< HEAD
    		<li><a class="nav-link <%=((controller.action_name=='lineup') ? 'active' : '')%>" href="/lineup"><img src="<%=asset_path('shcedule.png')%>" width="50px"></a></li>
=======
    		<li><a class="nav-link <%=((controller.action_name=='lineup') ? 'active' : '')%>" href="/lineup"><img src="<%=asset_path('Menu_schedule.png')%>" width="50px"></a></li>
>>>>>>> 3be215312e57181354913f199120fa39447ca7ec
    		<li><a class="nav-link <%=((controller.action_name=='bus') ? 'active' : '')%>" href="/bus"><img src="<%=asset_path('Menu_bus.png')%>" width="50px"></a></li>
    	</ul>
    </div>
  </nav>


	<%= yield %>

 
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
            	<div class="face">
            		<img src="<%=asset_path('face_1.jpg')%>">
            	</div>
            	<div class="name">
            		김동걸
            	</div>
            </li>
            <li class="list-inline-item">
            	<div class="face">
            		<img src="<%=asset_path('face_2.jpg')%>">
            	</div>
            	<div class="name">
            		노현석
            	</div>
            </li>
            <li class="list-inline-item">
            	<div class="face">
            		<img src="<%=asset_path('face_3.jpg')%>">
            	</div>
            	<div class="name">
            		황윤하
            	</div>
            </li>
            <li class="list-inline-item">
            	<div class="face">
            		<img src="<%=asset_path('face_4.jpg')%>">
            	</div>
            	<div class="name">
            		심수영
            	</div>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; GNU LikeLion 2018</p>
        </div>
      </div>
    </div>
  </footer>
  <div id="to_top" class="hidden" onclick="goto_up();"><img src="<%=asset_path('up_caret.png')%>"></div>
  
</body>
</html>

